APP_ENV=development
SESSIONS_PATH="./sessions"
DB_PATH="./storage/db.zip"
LOG_PATH="./storage/bot.log"

NODE_ENV=development
DATABASE_URL="file:./prisma/dev.db"
LLM_APIKEY=

SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=

STORAGE_PATH=storage